body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
        background: url(bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

input, select, button {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    color: #5cb85c;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
